{% extends "layout.html" %}
{% block content %}
{% if current_user.is_authenticated() %}
    <button id="browserid-logout">{{ current_user.email }} - Logout </button>
{% else %}
    <button id="browserid-login"><img src="{{ url_for('static', filename='images/persona-button.jpg') }}" height="55px"></button>
{% endif %}

<div id="wrapper">
    <div id="score">
        <p>Right:<span class="right">0</span>Wrong:<span class="wrong">0</span></p>
    </div>
    <img id="thumbnail" class="photo"/>
    <div id="names">
    </div>
    <div id="intro"><p id="welcome">Try the Mozillian Name Game! (requires mozilla email)<br><br>Can you guess who's who?</p></div>
    <div id="feedback" data-rel="dialog"></div>
    
</div>
<!-- divs below this point are hidden intentionally -->
<div id="templates">
  <a class="name">Name</a>
</div>
{% endblock %}