<!DOCTYPE html>
<html manifest="cache.manifest">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1, maximum-scale=1">
<title>Mozilla Name Game</title>
<head>
    <link type="text/css" rel="stylesheet" href="static/jquery.mobile-1.4.5.min.css">
            <!-- auth_script requires jquery and Mozilla's 'include.js' shim -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="https://browserid.org/include.js" type="text/javascript"></script>
    <script type="text/javascript">{{ auth_script|safe }}</script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>